body {
	height: 10000px;
}

.header-wrap {
	height: 30px;
	background: #eaeaea;
}

.header {
	width: 1200px;
	height: 30px;
	line-height: 30px;
	/* background: pink; */
	margin: 0 auto;
}

.header .list01 {
	float: left;
	height: 30px;
}

.header .list01 li {
	float: left;
	position: relative;
}

.header .list01 .one {
	margin-left: 1px;
	z-index: 5;
	/* border: 1px solid blue; */
}
.header .list01 .one a{
	display: block;
	height: 29px;
	padding: 0 5px;
	border: 1px solid #eaeaea;
	border-bottom: none;
	line-height: 29px;
	position: relative;
	left: 0;
	top: 0;
	z-index: 2;

}
.header .list01 .one .city{
	width: 300px;
	height: 300px;
	border: 1px solid red;
	position: absolute;
	left: 0;
	top: 29px;
	background: #fff;
	display: none;
}.header .list01 li:hover a{
	border-color: red;
	background: #fff;

}
.header .list01 li:hover .city{
	display: block;
}
.header .list01 .one a i{
	float: left;
	font-size: 14px;
	color: red;
	margin-right: 2px;
}
.header .list01 .one a span{
	float: left;
}
.header .list01 a span,.header .list01 a i{
	float: left;
}
.header .list01 a i{
	margin-right: 2px;
}


.header .list01 .two {
	margin: 0 9px 0 18px;
}

.header .list01 .three a {
	border-left: 1px solid #b3aeae;
	padding-left: 5px;
}

.header .list02 {
	float: right;
}

.header .list02 li {
	float: left;
}

.header .list02 li a {
	border-right: 1px solid #b3aeae;
	padding: 0 13px 0 10px;
	color: #666;
}

.search-bar {
	width: 1200px;
	height: 106px;
	/* background: yellow; */
	margin: 0 auto;
}

.search-bar .logo {
	float: left;
	/* 第二种将父元素设置固定高度 */
	/* height: 56px; */
	/* overflow: hidden; */
	margin: 25px 0 0 45px;
}

.search-bar .logo a {
	display: block;
	/* 第一种: 将字号设置成0*/
	/* font-size: 0px; */



	/* 第三种,背景图 */
	background: url(../images/Logo.png) no-repeat;
	width: 175px;
	height: 56px;
	text-indent: -9999px;
}

.search-bar form {
	float: right;
	margin-top: 35px;
}

.search-bar .txt {
	width: 476px;
	height: 28px;
	border: 2px solid #ea4a36;
	border-right: none;
	float: left;
	padding-left: 10px;
}

.search-bar .btn {
	width: 70px;
	height: 32px;
	background: #ea4a36;
	float: left;
	color: #fff;
	cursor: pointer;
}

.search-bar .btn:hover {
	background: darkred;
}

.nav-wrap {
	height: 45px;
	border-bottom: 2px solid #e1251b;
}

.nav {
	width: 1200px;
	height: 45px;
	/* background: pink; */
	margin: 0 auto;
	line-height: 45px;
}

.nav .allShop {
	width: 210px;
	height: 45px;
	background: #e1251b;
	color: #fff;
	font-size: 14px;
	font-weight: 700;
	text-align: center;
	float: left;
}

.nav .shopList {
	float: left;
}

.nav .shopList li {
	float: left;
	font-size: 16px;
	color: #333;
	margin: 0 23px;
	position: relative;
}

.nav .shopList li img {
	position: absolute;
	left: 33px;
	top: 0;
}

.main {
	width: 1200px;
	height: 474px;
	/* background: yellowgreen; */
	margin: 0 auto;
}

.main-left {
	width: 210px;
	height: 461px;
	background: #fafafa;
	float: left;
	position: relative;
	top: -2px;

}

.main-left ul li {

	height: 30px;
	line-height: 30px;
	padding-left: 20px;
	font-size: 14px;
	/* background: rgba(0, 0, 0, 0.5); */

}

.main-left ul li:hover {
	background: #d9d9d9;
}

.main-left .two {
	position: relative;
}

.main-left ul li img {
	position: absolute;
	left: 76px;
	top: -7px;
}


.main-center {
	width: 730px;
	height: 454px;
	background: yellow;
	float: left;
	margin: 5px 5px 0px 5px;
	position: relative;
}

.main-center span {
	width: 25px;
	height: 35px;
	background-color: rgba(0, 0, 0, .15);
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -17px;
	color: #fff;
	font-size: 20px;
	/* text-align: center; */
	line-height: 35px;
	border-top-right-radius: 18px;
	border-bottom-right-radius: 18px;
	cursor: pointer;
	text-indent: 3px;
}

.main-center.rightBtn {
	left: auto;
	right: 0px;
	border-radius: 18px 0 0 18px;
	text-indent: 8px;
}

.main-center span:hover {
	background-color: rgba(0, 0, 0, .6);
}

.main-center ol {
	position: absolute;
	bottom: 20px;
	left: 25px;
}

.main-center ol li {

	width: 9px;
	height: 9px;
	background: rgba(255, 255, 255, 0.4);
	border: 3px solid rgba(0, 0, 0, .15);
	/* 背景从内容可见 */
	background-clip: content-box;
	float: left;
	border-radius: 50%;
	margin: 4px;
	cursor: pointer;
}

.main-center ol li:hover {
	width: 11px;
	height: 11px;
	border: 2px solid rgba(0, 0, 0, .1);

}

.main-right {
	float: right;
	width: 250px;
	height: 455px;
	/* background: pink; */
	margin-top: 5px;

}

.main-right .info {
	height: 178px;
	border: 1px solid #e4e4e4;
}

.main-right .info-top {
	width: 218px;
	height: 37px;
	border-bottom: 1px solid #e4e4e4;
	margin: 0 auto;
	padding: 0 10px;
}

.main-right .info-top h3 {
	float: left;
	font-size: 14px;
	line-height: 37px;
}

.main-right .info-top span {
	float: right;
	line-height: 39px;
}

.info .info-list li {
	padding-left: 15px;
	height: 27px;
	line-height: 27px;
}

.main-right .rightXia {
	height: 196px;
	border-right: 1px solid #e4e4e4;
}

.main-right .rightXia ul li {
	float: left;
	width: 61px;
	height: 64px;
	border-left: 1px solid #e4e4e4;
	border-bottom: 1px solid #e4e4e4;
}

.main-right .rightXia ul li a {
	display: block;
	height: 100%;
	text-align: center;
}

.main-right .rightXia ul li a em {
	display: block;
	height: 40px;
	background: url(../images/icons.png) no-repeat 0 0;
}

.main-right .service ul li a span {
	display: block;
	margin-top: 5px;
}

.two {
	width: 62px !important;
}



.phoneList {
	width: 1200px;
	height: 330px;
	/* background: pink; */
	margin: 0 auto;
}

.phoneList ul li {
	width: 269px;
	height: 328px;
	border: 1px solid #e1251b;
	float: left;
	margin-right: 24px;
}

.phoneList ul .one {
	margin-left: 22px;
}

.phoneList ul li a {
	display: block;
	height: 328px;
}

.phoneList .detail {
	height: 95px;
	background: #fafafa;
}

.phoneList ul li a img {
	margin: 0 auto 27px;
}

.phoneList .detail p {
	padding-left: 10px;
	line-height: 28px;
}

.phoneList .detail h5 {
	font-size: 20px;
	color: #e1251b;
	font-weight: 400;
	padding-left: 10px;
}

.phoneList ul li a:hover {
	text-decoration: none;
}

.phoneList ul li a:hover p {
	text-decoration: underline;
}

.rightNav {
	width: 35px;
	height: 216px;
	/* background: pink; */
	/*固定定位 */
	position: fixed;
	right: 50%;
	top: 50%;
	margin-top: -108px;
	margin-right: -645px;
}

.rightNav ul li {
	height: 35px;
	background: blue;
	margin: 1px 0;
}

.rightNav .ul li em {
	/* display: block; */
	width: 35px;

}





.center-img {
	width: 1200px;
	height: 252px;
	margin: 66px auto;
	/* background: pink; */
	border: 1px solid #e4e4e4;
	position: relative;
}

.center-img ul li {
	/* margin: 0 auto; */
	height: 252px;
	width: 200px;
	/* padding-left: 35px; */
	float: left;
	text-decoration: none;
}

.center-img ul li a {
	height: 252px;
}

.center-img ul li img {
	margin: 0 auto;

}

.center-img ul li span {
	display: block;
	padding-left: 35px;
	border-right: 1px solid #e4e4e4;
	/* width: 83px; */


}

.center-img ul li h3 {
	padding: 18px 0 41px 35px;
	font-size: 20px;
	color: red;
	border-right: 1px solid #e4e4e4;

}

.zjdh{
	width: 1200px;
	height: 63px;
	/* background:pink; */
	margin: 0 auto;
	/* position: absolute;
	left: 0;
	top: 0; */
	
}
.zjdh .leftli h2{
	float: left;
}
.zjdh .leftli h2 span{
	font-size: 20px;
	color: red;
	padding-top: 30px;
	display: block;
}
.zjdh .rightli li a{
	float: right;
	line-height: 63px;
	/* margin-right: 23px; */
	color: #666;
	
}
.zjdh .rightli li a span{
	border-left: 1px solid #666;
	padding: 0 11px;
}
.bottom{
	width: 1215px;
	height: 363px;
	border-top: 2px solid red;
	border-bottom: 1px solid #666;
	margin: 0 auto;
}
.bottom>img{
	float: left;
}
.bottomLeft{
	width: 211px;
	height: 361px;
	float: left;
	/* background: pink; */
}
.bottomone{
	width: 209px;
	height: 110px;
	/* margin-left: 20px; */
	background: #f7f7f7;
	text-align: center;
	position: relative;

}
.bottomone ul{
	width: 209px;
	height: 110px;
	/* text-align: center; */
}
.bottomLeft ul li {
	float: left;
	/* width: 84px;
	height: 26px; */
	/* text-align: center; */
	line-height: 34px;

	margin-left: 26px;
	/* border-bottom: 1px solid #666; */
	font-size: 14px;
	
	
}

.bottomLeft ul li a{
	display: inline;
	text-align: center;
	border-bottom: 1px solid #e4e4e4;
	
	
}
.bottomone img{
	/* width: 244px; */
	position: absolute;
	left: 13px;
	top: 134px;
}
.imger{
	width: 220px;
	height: 361px;
	background: pink;
	float: left;
	/* border: 1px solid #333; */

}
.imager{
	width: 1200px;
	height: 67px;
	background: #f7f9f8;
	margin: 0 auto;
}
.imager ul li{
	float: left;
	margin-left: 20px;
	margin-top: 16px;
	border-right: 1px dashed #333;
}
.bottoms{
	width: 1231px;
	height: 319px;
	background: #eaeaea;
	margin: 0 auto;
	/* float: left; */
	position: relative;
}
.bottoms-left{
	width: 1004px;
	height: 149px;
	/* background: pink; */
}
.bottoms-left ul{
	float: left;
	margin:22px 55px;
}
.bottoms-left ul h3{
	font-size: 16px;
	font-weight: 700;
}
.xialist{
	width: 701px;
	height: 64px;
	/* background: yellow; */
	margin:97px 282px 0 282px;
}
.xialist ul{
	display: block;
}
.xialist ul li{
	/* width: 701px; */
	float: left;
	text-align: center;
	margin-right: 21px;
	border-right: 1px solid #666;
	padding-left: 0 9px 0 13px;
	/* margin: 0 auto; */
}
.xialist span{
	width: 701px;
	height: 12px;
	display: block;
	/* margin: 0 auto; */
	text-align: center;
	/* margin-top: 5px; */
}


.box{
	width: 242px;
	height: 318px;
	/* background: red; */
	float: right;
	position: absolute;
	right: 0;
	bottom: 0;
	
}.box img{
	margin-top: 24px;
}